[user]
	name = charle5
	email = devin.holloway+charle5@gmail.com
[core]
	editor = emacs
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	visual = gitk
[help]
	autocorrect = 1
[color]
	ui = true
[merge]
        tool = extMerge
[mergetool "extMerge"]
        cmd = extMerge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
        trustExitCode = false
[credential]
	helper = osxkeychain
